<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs %>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title><%= current_page.data.title || "API Documentation" %></title>

    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <link href="https://www.cielo.com.br/wps/contenthandler/!ut/p/digest!3SvhW8ACOLyj_90YHxPhKQ/war/cielo-tema/themes/estatico/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <% if current_page.data.search %>
    <%= javascript_include_tag  "all" %>
    <% else %>
    <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if language_tabs %>
    <script>
    $(function() {
        setupLanguages(<%= language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>);

        var _wr = function(type) {
            var orig = history[type];
            return function() {
                var rv = orig.apply(this, arguments);
                var e = new Event(type);

                e.arguments = arguments;
                window.dispatchEvent(e);
                return rv;
            };
        };

        history.pushState = _wr('pushState'), history.replaceState = _wr('replaceState');

        window.onhashchange = function() {
            ga('send', 'event', 'navigation','click', window.location.href);
        };

        window.addEventListener('replaceState', function(e) {
            ga('send', 'event', 'navigation','scroll', window.location.href);
        });

        window.addEventListener('languagechange', function(e) {
            ga('send', 'event', 'language','change', e.detail);
        });
    });

    </script>
    <% end %>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

    ga('create', 'UA-8516386-7', {'cookieDomain': 'auto', 'alwaysSendReferrer': true});
    ga('create', 'UA-31855766-1', {'name': 'iMasters', 'cookieDomain': 'auto', 'alwaysSendReferrer': true});

    ga("set", "transport", "beacon");
    ga('send', 'pageview');
    </script>
</head>

<body class="<%= page_classes %>">
    <a href="#" id="nav-button">
        <span>
            NAV
            <%= image_tag('navbar.png') %>
        </span>
    </a>
    <div class="tocify-wrapper">
        <% if translations %>
        <ul class="languages">
            <% translations.each do |translation| %>
            <li class="<%= translation.keys.first %>"><%= translation.values.first %></li>
            <% end %>
        </ul>
        <% end %>
        <%= image_tag "logo.png" %>
        <% if language_tabs %>
        <div class="lang-selector">
            <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
            <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
            <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
            <% end %>
        </div>
        <% end %>
        <% if current_page.data.search %>
        <div class="search">
            <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
        <% end %>
        <div id="toc">
        </div>
        <% if current_page.data.toc_footers %>
        <h2 class="toc-footer-title">Materiais complementares</h2>
        <ul class="toc-footer">
            <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
            <% end %>
        </ul>
        <% end %>
        <div class="links-footer">
            <ul class="link-list">
                <li class="cielo"><a href="https://www.cielo.com.br/ecommerce">Cielo</a></li>
                <li class="github"><a href="https://github.com/developercielo">Cielo</a></li>
                <li class="desenvolvedores"><a href="https://www.cielo.com.br/desenvolvedores">Cielo</a></li>
            </ul>
        </div>
    </div>
    <div class="page-wrapper">
        <% if language_tabs %>
        <div class="dark-box"></div>
        <div class="content">
            <% else %>
            <div class="content no-dark-box">
                <% end %>
                <%= yield %>
                <% current_page.data.includes && current_page.data.includes.each do |include| %>
                <%= partial "includes/#{include}" %>
                <% end %>
            </div>
            <% if language_tabs %>
            <div class="dark-box">
                <div class="lang-selector">
                    <% language_tabs.each do |lang| %>
                    <% if lang.is_a? Hash %>
                    <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
                    <% else %>
                    <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
                    <% end %>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </body>
    </html>
